# LIST

In [1]:
name="nagma"

In [2]:
mylist=[]

In [3]:
print(type(name),type(mylist))

<class 'str'> <class 'list'>

In [4]:
mylist=list()
type(mylist)

list

In [2]:
name=["nagma","nooreen"]
type(name)

list

## Finding number of items in list

In [3]:
len(name)

2

# forward indexing

In [4]:
name[0]

'nagma'

In [5]:
name[1]

'nooreen'

In [6]:
name[10]

IndexError: list index out of range

# backward indexing

In [7]:
name[-1]

'nooreen'

In [ ]:
name

# list methods

## append(new_item)
 - to add new item in the available list

In [8]:
name.append("maherun")

In [9]:
name

['nagma', 'nooreen', 'maherun']

In [10]:
new=['ashraf','nasreen']

In [11]:
name.append(new)

In [12]:
name

['nagma', 'nooreen', 'maherun', ['ashraf', 'nasreen']]

In [13]:
len(name)

4

In [14]:
names=['nagma','nooreen','nahedh']

## extend(new_list)
- to add new list elements to the required list instead of adding list

In [15]:
names.extend(new)

In [16]:
names

['nagma', 'nooreen', 'nahedh', 'ashraf', 'nasreen']

In [17]:
len(names)

5

## copy()

In [18]:
nagma=[20,10,30]
nooreen=nagma

In [19]:
nagma,nooreen

([20, 10, 30], [20, 10, 30])

In [20]:
nagma.append(20)

In [21]:
nagma,nooreen

([20, 10, 30, 20], [20, 10, 30, 20])

In [22]:
nagma=[40,30,20]
nooreen=nagma.copy()

In [23]:
nagma,nooreen

([40, 30, 20], [40, 30, 20])

In [24]:
nagma.append(10)

In [25]:
nagma,nooreen

([40, 30, 20, 10], [40, 30, 20])

In [12]:
names=['nagma','nooreen']

In [13]:
names[0]='nasreen'

In [14]:
names

['nasreen', 'nooreen']

In [15]:
dir(names)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [ ]:
names=['a','s','c']

### clear()
-to remove all items of the list

In [ ]:
names.clear()

In [ ]:
names

In [ ]:
names.clear()
names

## count()
- count of a item present in the list

In [ ]:
numbers=[12,23,12,35,67]

In [ ]:
numbers.count(12)

In [ ]:
numbers.count(20)

In [ ]:
num=[2,4,2,5,6,1,[2,4,2]]

In [ ]:
num.count(2)

## index(item)
- return index of first occurance of the item in list if available otherwise Value error

In [ ]:
num=[1,2,3,4,5,6,7,5,4,3,2,1]

In [ ]:
num.index(2)

In [ ]:
num.index(6)

In [ ]:
num.index(200)

## index(item , starting_index_for_searching)

In [ ]:
num=[1,1,1,4,5,2,4,5,2,1,2,3,1]
num.index(1,2)

## insert(index, item)
- if given index available it can add item at given index otherwise it will add the item at the end of the list

In [ ]:
num=[10,20,30,40]

In [ ]:
num.insert(3,4)
num

In [ ]:
num.insert(3,4)

In [ ]:
num

In [ ]:
num.insert(300,4)

In [ ]:
num

## pop()
- to remove last item of the list
- returns the value which removed from the list

### pop(index)
- to remove the element of given index

In [ ]:
num=[10,3,43,56,78]
num.pop()
num

In [ ]:
num.pop(0)
num

In [ ]:
[].pop()

## remove(item)
- to remove the item from the list

In [ ]:
num=[12,23,45,23,42,76]
num.remove(45)
num

In [ ]:
num.remove(1)
num

## reverse()
- to reverse the items of the list
- no arguements required

In [ ]:
num=[1,2,3,4,5,6]

In [ ]:
num.reverse()

In [ ]:
num

In [ ]:
num.reverse(3)

## sort()
 - to sort the items of the list in assending order
 - no arguements required
 - if given items of the list are strings then they got sort by assending order

In [ ]:
num=[10,2,35,4,3,56,16]
num.sort()
num

In [ ]:
list=['nagma', 'nooreen', 'nahedh', 'nasreen']
list.sort()
list

## sorting list in desending order

In [ ]:
n=[10,4,23,67,23,4,2,5]
n.sort()
n.reverse()
n

In [ ]:
n=[10,4,23,67,23,4,2,5]
n.sort(reverse=True)
n

## Looping of list

In [ ]:
for hand in n:
    print(hand)

# sum of the elements of the list

In [ ]:
n=[2,4,2,32,54,23]
total=0
for i in n:
    total=total+i
print(total)

# find the name of the student who got heights total marks

In [ ]:
s=[["sai",30,140,50],["ram",40,50,60]]

In [ ]:
name=''
total=0
for i in s:
    if(sum(i[1:])>total):
        name=i[0]
        total=sum(i[1:])
print(name)

In [ ]:
name=""
total_marks=0
for i in s:
    marks= i[1:]
    s_total=sum(marks)
    if(s_total>total_marks):
        name=i[0]
        total_marks=s_total
print(name)

# list sorting

In [ ]:
myList=[[10,20],[45,30],[30,50]]
myList.sort()
myList

In [ ]:
myList=[[10,20],[45,70],[30,50]]

# sorting based on second item in every list

1 reverse every item in the list

2 sort 

3 reverse every item

In [ ]:
myList=[[10,20],[45,70],[30,50]]
for i in myList:
    i.reverse()
myList.sort()
for i in myList:
    i.reverse()
print(myList)

# tuples,()
- collection of items
- immutable

## Methods in tuple

### count()

In [ ]:
myTuple=(10,30,'sai',True)
myTuple.count(10)

In [ ]:
myTuple[-1]

### index()

In [ ]:
myTuple.index(10)

In [ ]:
myTuple.index(100)

# Strings
- strings are immutable

- strings are case sensative

In [ ]:
name='python programming'

In [ ]:
name[0]

In [ ]:
name[-1]

In [ ]:
name[0]='k'

In [ ]:
name[5:10]

## String Methods

In [16]:
name='nagma'

In [17]:
dir(name)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

## startswith(sub_string)
- to check original string is started with given sub string or not

In [ ]:
name='nagma'

In [ ]:
name.startswith('n')

In [ ]:
name="python programming language"
name.startswith('python')

In [ ]:
name.startswith("Python")

## endswith(sub_string)

In [ ]:
name.endswith("e")

## upper()

In [ ]:
name.upper()

## lower()

In [ ]:
'PYTHON'.lower()

In [ ]:
'PyThoN'.lower()

### islower()

In [ ]:
name='python'
name.islower()

## isupper()

In [ ]:
name='PYthon'
name.isupper()

In [ ]:
name='PYTHON'
name.isupper()

In [ ]:
name='1234'
name.isupper()

In [ ]:
name='1234'
name.upper()

## isdigit()

In [ ]:
name='1234'
name.isdigit()

In [ ]:
name='sai123'
name.isdigit()

## swapcase()

In [ ]:
name='PyThOn'
name.swapcase()

## isalpha()

In [ ]:
name='PyThon'
name.isalpha()

In [ ]:
name='gjjoi gfgt'
name.isalpha()

## split()
### split('char/string')

In [ ]:
name='i am from vizag'
name.split()

In [3]:
name='i am from vizag'
name.split('m')

['i a', ' fro', ' vizag']

In [7]:
words=name.split()
print(words)

['i', 'am', 'from', 'vizag']

## 'interlink'.join('name of words string')

In [8]:
words

['i', 'am', 'from', 'vizag']

In [9]:
'm'.join(words)

'imammfrommvizag'

# strip()
- it will remove spaces at starting and ending of the string

In [ ]:
name='                 nagma         '
name.strip()

## lstrip()
- to remove left side spaces

In [ ]:
name='             nagma          '

In [ ]:
name.lstrip()

## rstrip()
- to remove right end spaces of the string

In [ ]:
name='      name  '
name.rstrip()

## Task

In [ ]:
i=0
s=[]
while True:
    w=input("enter astring:")
    if w.isdigit():
        s.append(int(w))
    if w=='done':
         break
    i=i+1
print("min number:",min(s))
print("max number:",max(s))

# global functions

In [ ]:
n=[1,3,45,6,2,3,4,5,1,2,54]

In [ ]:
sum(n)

In [ ]:
max(n)

In [ ]:
min(n)

# list slicing

In [ ]:
n[1:2:4]

In [ ]:
n[::-1]

In [ ]:
n[0:7:2]

In [ ]:
n[5:2:-1]

In [ ]:
name='nagma'
name[::-1]